body{
    background-color: azure;
}
.container-md{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: min-content;
    color: white;
    background-color: #035397;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 10px black;
}
.row-sm{
    padding: 1% 0;
}
.row-sm a{
    color: white;
    font-size: small;
}